@import "../../styles/variables.scss";

.new-modal  {
    top: -30px !important;
    height: fit-content !important;
    position: relative !important;
  
  
    @include breakpoint(phablet) {
      height: fit-content !important;
    }
  
    .ant-modal-close {
      width: 100%;
      border-radius: 100%;
      position: absolute;
      top: 10px;
      z-index: 10 !important;
      text-align: center;
      @include rowflex(center, center);
  
      @include breakpoint(mobileonly) {
        width: 10%;
        @include rowflexx(flex-start);
      }
      @include breakpoint(phablet) {
        width: 6%;
        @include rowflexx(flex-start);
      }
  
      @include breakpoint(desktop) {
        width: fit-content;
        @include rowflexx(flex-start);
      }
    }
    .ant-modal-body {
      background-color: white;
      border-radius: 12px;
      width: 100%;
      .backcontinue.--bctop {
        margin-top: 0px;
        @include breakpoint(mobileonly) {
          margin-top: 80px;
          position: relative;
        }
        .backcontinue {
          @include breakpoint(mobileonly) {
            background-color: white;
            position: absolute;
            bottom: 20px;
            margin: 0 auto;
            width: 100%;
            height: 120px;
            left: 0px;
            right: 0px;
            button {
              margin: 0 auto;
              // margin-left: 10px;
              width: 100%;
            }
          }
        }
      }
  
      @include breakpoint(mobileonly) {
        // height: 90vh !important;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px !important;
      }
    }
    .ant-modal-close-x {
      position: absolute;
      //    right: 50%;
      // @include rowflex(center, center);
      // width: 60px;
      // height: 60px;
      // border-radius: 100%;
    }
  }